div.sheet-tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 100%;
}
  
div.sheet-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
div.sheet-tabs button:hover {
   background-color: #ddd;
}

h2, h3, h4 {
	color: #FFF;
	background-color: #000;
	text-align: center;
}



div.sheet-tabcontent {
    display: none;
}

.sheet-tabstoggle[value="character"] ~ div#sheet-character,
.sheet-tabstoggle[value="userinfo"] ~ div#sheet-userinfo,
.sheet-tabstoggle[value="skills"] ~ div#sheet-skills,
.sheet-tabstoggle[value="items"] ~ div#sheet-items {
    display: block;
}


.sheet-tabstoggle[value="character"] ~ .sheet-tabs button.sheet-character,
.sheet-tabstoggle[value="userinfo"] ~ .sheet-tabs button.sheet-userinfo,
.sheet-tabstoggle[value="skills"] ~ .sheet-tabs button.sheet-skills,
.sheet-tabstoggle[value="items"] ~ .sheet-tabs button.sheet-items  {
    background-color: #ccc;
}

.sheet-secondary {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sheet-secondary .sheet-td {
    display: flex;
    justify-content: space-between;

}

.sheet-reset-button {
    text-align: center;
    margin: 5px 0;
}

.repeating_disorder {
    display: flex;
    flex-direction: row;
}
.sheet-sanity tr{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.sheet-sanity td{
    display: flex;
    flex-direction: column;

}

.sheet-tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.sheet-th {
    width: 45%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
}

.sheet-th2 {
    text-align: left;
}

.sheet-dice::before {
    font-family: 'dicefontd20';
    content: 't';
    font-size: large;
}

.sheet-skill::before {
    font-family: 'dicefontd20';
    content: 't';
    font-size: large;
}

h3 button.sheet-skill {
    color: black;
}

div.sheet-skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.sheet-trow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sheet-trow span.sheet-td{
    width: 100%;
}

.sheet-rolltemplate-skills table {
    width: 100%;
    background-color: white;
    border: 1px  solid rgba(112, 32, 130, 1);
}

.sheet-rolltemplate-skills caption {
    background-color: rgba(112, 32, 130, 1);
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    padding: 5px;
}

.sheet-rolltemplate-skills td {
    padding: 5px;
    line-height: 1.4em;
    vertical-align: top;
}

.sheet-rolltemplate-skills td:first-child {
    font-weight: bold;
    text-align: right;
    min-width: 50px;
    padding-right: 10px;
}

.sheet-weapons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.sheet-dmg {
    width: 3.5em;
}

table {
    width: 100%;
}

td.sheet-th{
    text-align: left;
}