/*
    Generic elements
*/
.title {
    color: #FFF;
    background-color: #000;
    text-align: center;
}

.title button {
    color: #000;
}

.trow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

input[type=number].readonly {
    pointer-events: none;
    -moz-appearance: textfield;
}

input[type=number].show {
    pointer-events: all;
}

.attrs::-webkit-outer-spin-button,
.attrs::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.attrs {
    -moz-appearance: textfield;
}

/**
    Header elements
*/

.table-u {
    border: 2px solid black;
    background: url('https://s3.amazonaws.com/files.d20.io/images/97937165/ks0F-URBvdgE-vEm-J5cCg/max.png?1574799601');
}

.table-u>h4 {
    border-bottom: 2px solid black;
}

.table-u>div {
    margin: 10px;
}

.table-u input {
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.table-u span {
    font-weight: bold;
    color: #e5d280;
    font-family: "Roboto", "Helvetica", "Verdana";
}

.table-userinfo {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.character {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.character {
    align-items: center;
}

.character>.character:last-child>span {
    text-align: center;
}

.table-charac {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    width: 100px;
    height: 100px;
}

.attribute > span,
.character > span {
    text-transform: uppercase;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.primary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 0.75em;
    grid-gap: 0.5rem;
    align-items: stretch;
    border-right: 1px solid rgba(229, 210, 128, 0.3);
}

.attribute {
    border: 1px solid #554811;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 0.25rem;
}

.attribute input[type=number].attrs {
    text-align: center;
    padding: 5px;
    width: 100%;
}



.primary span {
    grid-column: 1/-1;
}

.attr {
    line-height: 10px;
}

.attribute_divider {
    font-size: 2rem;
    text-align: center;
    padding: 5px;
}

/*Convert buttons*/

button.roll::before {
    font-family: 'dicefontd20';
    content: 't';
    font-size: large;
}

button.up::before {
    font-family: 'Pictos';
    content: '&';
}
button.down::before {
    font-family: 'Pictos';
    content: '_';
}

/*
    Tabs and content selectors
*/

.navigation {
    display: flex;
    justify-content: stretch;
    width: 100%;
    background-color: black;
    color: white;
    
    font-weight: bold;
}

.navigation > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 0px;
}

.navigation input {
    display: none;
}

.navigation__label {
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.navigation_item {
    color: white;
}

.navigation_item > input[type=radio]:checked + .navigation__label {
    background-color: #ccc;
    color: #000;
}

.navigation__label:hover {
    background-color: #ccc;
}

div.tabcontent {
    display: none;
}

div.show-tabcontent {
    display: block;
}

/*
    Character Tab content
*/

.block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.th {
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
}

.table-hp, .table-mp {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dead {
    grid-column: 1/3;
    text-align: center;
}

.table-hp .unconscius {
    grid-column: 4/7;
    text-align: center;
}

.table-mp .unconscius {
    grid-column: 1/5;
    text-align: center;
}

.table-sanity {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
}

.insanity {
    grid-column: 1/3;
    text-align: center;
}

.sanity tr{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.sanity td{
    display: flex;
    flex-direction: column;
}



/*
    Skills Tab content

*/

div.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.trow span.td{
    width: 100%;
}


/*
    Items Tab content
*/

.dmg {
    width: 3.5em;
}

.table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table .trow {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/*
    Roll templates
*/

.rolltemplates {
    display: none;
}

.sheet-rolltemplate-skills > .sheet-table-u {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 5px ;
}

.sheet-rolltemplate-skills .sheet-roll_wrapper {
    display: flex;
    flex-direction: column;
}

.sheet-rolltemplate-skills .sheet-trow {
    text-align: center;
    padding: 5px;
}

.sheet-rolltemplate-skills h3,
.sheet-rolltemplate-skills span
 {
    color: white;
    font-family: "Droid Serif", "Lucida Bright", "Cambria", serif;
}

.sheet-rolltemplate-skills .inlinerollresult {
    background-color: inherit;
    font-size: 3rem;
    padding: 0;
    border: 0px;
}

.sheet-rolltemplate-skills .sheet-roll_wrapper > div {
    padding: 5px;
}

.sheet-rolltemplate-skills .sheet-roll__result {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sheet-rolltemplate-skills .sheet-roll__failure {
    background: #7a0707;
}

.sheet-rolltemplate-skills .sheet-roll__success {
    background: #076d09;
}

.sheet-rolltemplate-skills .sheet-roll__failure > span,
.sheet-rolltemplate-skills .sheet-roll__success > span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.75rem;
    
}

.sheet-rolltemplate-skills .sheet-roll__result span {
    padding: 0.5rem;
}

.sheet-rolltemplate-skills .sheet-trow:first-child {
    background-color: #362f2f;
}

.sheet-rolltemplate-dice table,
.sheet-rolltemplate-attk table{
    width: 100%;
    background-color: white;
    border: 1px  solid rgba(112, 32, 130, 1);
}

.sheet-rolltemplate-dice caption,
.sheet-rolltemplate-attk caption {
    background-color: rgba(112, 32, 130, 1);
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    padding: 5px;
}

.sheet-rolltemplate-dice td,
.sheet-rolltemplate-attk td{
    padding: 5px;
    line-height: 1.4em;
    vertical-align: top;
}

.sheet-rolltemplate-dice td:first-child,
.sheet-rolltemplate-attk td:first-child{
    font-weight: bold;
    text-align: right;
    min-width: 50px;
    padding-right: 10px;
}

.sheet-rolltemplate-attk td:first-child[colspan="2"]{
    text-align: center;
}