/**
    Header elements
*/

.section-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.table-userinfo {
    border: 2px solid black;
    background-color: #c4beb6;
}

.table-userinfo > h4 {
    border-bottom: 2px solid black;
}

.table-userinfo > div {
    margin: 1%;
    
}

.table-userinfo span {
    font-weight: bold;
}

.table-userinfo input {
    width: auto;
}

.table-userinfo .attribute {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/*
    Generic elements
*/
.title {
	color: #FFF;
	background-color: #000;
	text-align: center;
}

.title button {
    color: #000;
}

.trow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

input[type=number].readonly {
    pointer-events: none;
    -moz-appearance: textfield;
}

input[type=number].show {
    pointer-events: all;
}

/*Convert action button to roll button*/
button.skill::before {
    font-family: 'dicefontd20';
    content: 't';
    font-size: large;
}

/*
    Tabs and content selectors
*/

div.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 100%;
}
  
div.tabs button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
div.tabs button:hover {
   background-color: #ddd;
}

button.select-tab{
    background-color: #ccc;
}

div.tabcontent {
    display: none;
}

.show-tabcontent {
    display: block;
}

/*
    Character Tab content
*/

.table-charac {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.th {
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
}

.table-hp, .table-mp {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dead {
    grid-column: 1/3;
    text-align: center;
}

.table-hp .unconscius {
    grid-column: 4/7;
    text-align: center;
}

.table-mp .unconscius {
    grid-column: 1/5;
    text-align: center;
}

.table-sanity {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
}

.insanity {
    grid-column: 1/3;
    text-align: center;
}

.sanity tr{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.sanity td{
    display: flex;
    flex-direction: column;
}



/*
    Skills Tab content

*/

div.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.trow span.td{
    width: 100%;
}


/*
    Items Tab content
*/

.dmg {
    width: 3.5em;
}

.table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table .trow {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/*
    Roll templates
*/

.sheet-rolltemplate-dice table,
.sheet-rolltemplate-attk table{
    width: 100%;
    background-color: white;
    border: 1px  solid rgba(112, 32, 130, 1);
}

.sheet-rolltemplate-dice caption,
.sheet-rolltemplate-attk caption {
    background-color: rgba(112, 32, 130, 1);
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    padding: 5px;
}

.sheet-rolltemplate-dice td,
.sheet-rolltemplate-attk td{
    padding: 5px;
    line-height: 1.4em;
    vertical-align: top;
}

.sheet-rolltemplate-dice td:first-child,
.sheet-rolltemplate-attk td:first-child{
    font-weight: bold;
    text-align: right;
    min-width: 50px;
    padding-right: 10px;
}

.sheet-rolltemplate-attk td:first-child[colspan="2"]{
    text-align: center;
}